
*{
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-color: burlywood;
    text-align: center;
    width: 200px;
}

.side_nav_title {
    padding:30px;
    font-weight: 600;
    font-style: normal;
    font-size: 23px;
}