*{
    margin: 0;
    padding: 0;
  }

.container {
    background-color: skyblue;
    text-align: center;
    min-height: 10vh;
    vertical-align: middle;
}

.title {
    padding:20px;
    font-weight: 600;
    font-style: normal;
    font-size: 23px;
}